<div id="jscours">
    <div>
        <app-secondnav></app-secondnav>
    </div>
    <div class="undernav">
        <div class="header">
            <div class="container">
                JAVASCRIPT
            </div>
        </div>
        <div class="container pt-5 pb-5">
            <div *ngIf="lesson=='bases'" class="row">
                <div class="col-12 mb-3 text-center">
                    <a href="{{fileurl}}ninth/Introduction_ES2015_2016.pdf" download="Exercice" class="h5" target="_blank">Poly</a>
                </div>
                <div class="col-12 mb-4">
                    <h4>import</h4>
                    <div class="border rounded p-2">
                        <img src="{{fileurl}}ninth/photos/import.png" alt="">
                    </div>
                </div>
                <div class="col-12 mb-4">
                    <h4>Héritage</h4>
                    <div class="border rounded p-2">
                        <img src="{{fileurl}}ninth/photos/inheritance.png" alt="">
                    </div>
                </div>
                <div class="col-12 mb-4">
                    <h4>Promise</h4>
                    <div class="border rounded p-2">
                        <div class="font-weight-bold">
                            C’est une “façon” de gérer les traitements asynchrones avec une API unique en utilisant les callbacks.
                        </div>
                        <div>
                            <img src="{{fileurl}}ninth/photos/promise.png" alt="">
                        </div>
                        <a href="https://github.com/Heroszhen/promise-it-wont-hurt" target="_blank">promise-it-wont-hurt</a>
                    </div>
                </div>
                <div class="col-12 mb-4">
                    <h4>fetch</h4>
                    <div class="border rounded p-2">
                        <div class="font-weight-bold">
                            L'API Fetch fournit une interface JavaScript pour l'accès et la manipulation des parties de la pipeline HTTP, comme les requêtes et les réponses. Cela fournit aussi une méthode globale fetch() qui procure un moyen facile et logique de récupérer des ressources à travers le réseau de manière asynchrone.
                        </div>
                        <div>
                            <img src="{{fileurl}}ninth/photos/fetch.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
